---
import { pb } from "../backend";
import Layout from "../layouts/Layout.astro";

export const prerender = false;

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("email") as string;
    const password = data.get("password") as string;
    console.log({ email, password });
    await pb.collection("users").authWithPassword(email, password);
    Astro.response.headers.append(
      "set-cookie",
      pb.authStore.exportToCookie()
    );

    // Faire quelque chose avec les données
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---
<Layout>
{
  pb.authStore.isValid ? <p>Est connecté</p> : 
  <form method="post">
  <label>Mot de passe : <input type="password" name="password" /></label>
  <label>Email : <input type="email" name="email" /></label>
  <button>Envoyer</button>
</form>
}
</Layout>
