---
export const prerender = false;
---

<form method="post">
  <label for="password">Mot de passe : <input type="password" id="password" name="password" required /></label>
  <label for="email">Mail : <input type="email" id="email" name="email" required /></label>
  <button type="submit">Submit</button>

</form>